<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POST</title>
    <style>
      table {
        width: 600px;
      }
      th,
      td {
        padding: 8px;
        text-align: center;
      }
      a {
          text-decoration: none;
          padding: 4px 8px;
          color: white;
          background-color: maroon;
          border: none;
      }
      a:hover {
          color: maroon;
          background-color: white;
          border: 1px solid black;
      }
      .form-main {
          width: 600px;
      }
      .form-group {
          width: 100%;
          margin-bottom: 8px;
      }
      button {
          background-color: green;
          padding: 4px 8px;
          color: white;
      }
    </style>
  </head>
  <body>
    <h1>Home Page</h1>

    <a href="/allpost">All-Post</a>
    <a href="/addnew"">Add New</a>
    <a href="/preview">Previews</a>
    <hr/>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptate
      minima a unde assumenda laboriosam ex labore suscipit nihil. Eos
      asperiores adipisci officiis, aspernatur error vero saepe temporibus iusto
      quasi.
    </p>
  </body>
</html>
